/*
Developed and maintained by Kevin Rue-Albrecht (@kevinrue)
*/

/*
#0092ac   blue background
#00758a   darker blue (active menu)
#1a81c2   blue titles
#c4d931   green (on blue)
#87b13f   green (on white)
*/

.inverse {
    background-color: #0092ac;
    color: #d6d6d6;
    text-shadow: 0 0 20px #333;
}

.inverse h1 {
    color: #c4d931;
}

.remark-slide-content h1 {
    font-size: 55px;
    color: #87b13f;
}

div.my-header {
    background-color: #87b13f;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

a, a > code {
    color: #00758a;
    text-decoration: none;
}
